#wrap{height:550px; width:700px;}
#header{height:100px; width:700px;background:#000000;}
#section{height:400px; width:700px;background:#0000ff;}
	#left{height:400px;width:100px;background:#ff0000;}
	#center{height:400px;width:500px;background:#00ffff;}
	#right{height:400px;width:100px;background:#ffff00;}
#footer{height:50px; width:700px;background:#00ff00;}

.fl{float:left;}
.box1_1{height:100px;width:100px;}
.box2_5{height:200px;width:500px;}
.box2_1{height:200px;width:100px;}

.color1{background:#ff0000;}
.color2{background:#0000ff;}
.color3{background:#9999ff;}
.color4{background:#ffff00;}
.color5{background:#ff00ff;}